@model HomeDetailsViewModel

@{
    //Layout = "~/Views/Shared/_Layout.cshtml"; No longer needed because of _ViewStart.cshtml
    ViewBag.Title = "Employee Details";
}

    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card">
                <div class="card">
                    <div class="card-header">
                        <h1>@Model.Employee.Name</h1>
                    </div>

                    <div class="card-body text-center">
                        <img class="card-img-top" src="~/images/gt_2000.jpg" />

                        <h4>Employee ID : @Model.Employee.Id</h4>
                        <h4>Email : @Model.Employee.Email</h4>
                        <h4>Department : @Model.Employee.Department</h4>
                    </div>

                    <div class="card-footer text-center">
                        <a asp-controller="home" asp-action="index" class="btn btn-primary">Back</a>
                        <a href="#" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--
    ViewData["PageTitle"]
    var employee = ViewData["Employee"] as EmployeeManagement.Models.Employee;
    employee.Name

    ViewBag.PageTitle
    ViewBag.Employee.Name

    (at)model EmployeeManagement.Models.Employee on top of the .cshtml page
    ViewBag.PageTitle
    (at)Model.Name
-->
<!-- section
    - User defined section that can be accessed by the _Layout.cshtml  
-->